/* STYLE GENERAUX */

  html, body {
    margin: 0;
            
  }

  h1, h2, h3 {

  }
  body {
    position: relative;
    margin-bottom: 0%;
    min-height: 100%;
    font-size: 30px;
    font-family: 'Vollkorn', serif;
  }

  a {
    outline: none;
    text-decoration: none;
    color: #000;
  }

  a:hover {
    color: #666 !important;
   }

  .background {
    position: fixed;
    width: 100%;
    background: center url("image/ordinateur et café.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
/* MEDIA QUERRY */

 @media (max-width: 650px) {

      body {
        font-size: 25px;
      }

      .background {
        width: 130%;
        height:130%;
      }
     .infocontainer .courbe  {
      float: right;
      height: 100%;
      width: auto;
      padding-right: 10%;     
    }
     .contenu{
      width:80%!important;
    }

    .subnav-content {
      display: flex!important;

    }
    .subnav-content  a{
      padding: 20px!important;
  
    }

    .topwrap {
    position:relative;
    height:150px!important;
    padding-bottom: 60px;
    top: 30px;
  }
  }

/*  BAR DE NAVIGATION   */
  
  .topwrap {
    position:relative;
    height:225px;
    padding-bottom: 60px;
  }


  .topnav{
  height: 100px;
  width: 100%;
  }

  /* TEXTE NAVBAR   */

    .navelement {
      display:inline-block;
      vertical-align:middle;
      text-align:left;
      padding-left: 8%;
      font-style: normal;
      font-weight: bold;
      font-size: 100%;
      line-height: 100%;

      color: #FFFFFF;

      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

    @media (min-width:510px) and (max-width: 800px) {
      .navelement {
        font-size:80%;
        padding-left: 4%;
      }

       .contenu {
        font-size: 65%!important;
      }

      .infocontainer .texte{
        font-size: 70%!important;
      }
       .infocontainer .courbe {
        height: 200px!important;
        width: 200px!important;
        padding-right: 25%;
      }
    }

    @media (min-width:350px) and (max-width: 510px) {
      .navelement {
        font-size:70%;
        padding-left: 2%;
      }

      .contenu {
        font-size: 60%!important;
      }
      .infocontaineur h1{
        font-size: 70%!important;
      }
      .infocontainer .courbe {
        height: 150px!important;
        width: 150px!important;
        padding-right: 25%;
      }
    }

     @media (max-width: 350px){

      .infocontainer .courbe {
          height: 130px!important;
          width: 130px!important;
          padding-right: 25%;
        }
      }

    .logo {

      height: auto;
      width: 4%;
    }

      /* SOUS MENU CACHE */

        .subnavbtn {
          height: 80px;
          display:inline-block;
          padding-left: 8%;
        }


        .subnav-content {
          display: none;
          background: rgba(26, 26, 26, 0.79);
          width: 90%;
          padding:0 5%;
          overflow: hidden;
        }
        
        @media (max-width: 1800px) {
          .subnav-content a {
            font-size: 70%;
          }
        }

         @media (max-width: 1600px) {
          .subnav-content a {
            font-size: 70%;
          }
        }


        @media (max-width: 1450px) {
          .subnav-content a {
            font-size: 70%;
          }
        }

        @media (max-width: 1450px) {
          .subnav-content a {
            font-size: 60%;
          }
        }

        @media (max-width: 1150px) {
          body {
            font-size: 20px;
          }
        }

         @media (max-width: 1150px) {
          body {
            font-size: 20px;
          }
        }

        @media (min-width: 650px) and (max-width: 750px) {
          .subnav-content a {
            font-size: 50%;
          }
        }


        .subnav-content a {
          display: inline-block;
          float: left;
          color: white;
          text-decoration: none;
          padding-top: 40px;
          padding-bottom: 40px;
          text-align: center;
          padding-left: 8%;
          padding-right: 8%;
        }

        /* When you move the mouse over the subnav container, open the subnav content */
        .subnavbtn:hover ~.subnav-content {
          display: flex;
          cursor: pointer;
        }

        .subnav-content:hover {
          display: flex;
          cursor: pointer;
        }


.wrapcontent {
  width:70%;
  padding-left: 15%;
  position:relative;
}

/* TEXTE INFORMATIF
MILIEU DE PAGE */
        
  .infocontainer {
    display:block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.75);
    background: #FFFFFF; 
  }

  .infocontainertest {
    display:block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
   /* box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.75);
    background: #FFFFFF; */
  }

   .infocontainertest .texte{
    font-family: vollkorn;
    
    display: inline-block;

  }

  .infocontainertest .h1 {
    padding-left: 10%;
    font-weight: 500;
    font-size: 90%;
    padding-top: 3%;
    float: left;
    font-weight: 700;
    font-size: 120%;

  }

  .infocontainertest .nomarge {
    padding-right: 0%;
    font-weight: 700;
    font-size: 120%;
    padding-top: 3%;
    padding-left: 4%;
  }

  .infocontainer2 {
    padding: 2% 30px;
    height: 100%;
    width: 100%;
  }

  .contenu{
    float: left;
    width: 65%;
    font-size: 66%;
    margin-bottom: 30px;
    margin-top: 30px  ;
  }

  .infocontainertest .courbe  {
    float: right;
    height: 50%;
    width: auto;
  }

  .infocontainer .texte{
    font-family: vollkorn;
    
    display: inline-block;

  }

  .infocontainer .h1 {
   padding-left: 10%;
    font-weight: 500;
    font-size: 90%;
    padding-top: 3%;
    font-weight: 700;
    font-size: 120%;
  }

  .infocontainer .nomarge {
    padding-right: 0%;
    font-weight: 700;
    font-size: 120%;
    padding-top: 3%;
    padding-left: 4%;
  }

  .infocontainer2 {
    padding: 2% 30px;
    height: 100%;
    width: 100%;
  }

  .contenu{
    float: left;
    width: 65%;
    font-size: 66%;
    margin-bottom: 30px;
    margin-top: 30px  ;
  }

  @media (max-width: 1100px) {
    .contenu{
      width:40%;
    }
  }



  .infocontainer .courbe  {
    float: right;
    height: 100%;
    width: auto;
  }

/*  FOOTER BAS DE PAGE */
        
  .footer {
    position: absolute;
    padding: 50px;
    font-family: PT Serif;
    font-style: normal;
    font-size: 70%;
    line-height: 70%;
    width: 100%;
    display: inline block;
    margin: 0px;
    text-align: center;
    bottom: 10px;
  }







