/* STYLE GENERAUX */

  html, body {
    margin: 0;
            
  }

  h1, h2, h3 {

  }
  body {
    position: relative;
    background: center/ contain, no-repeat url("image/ordinateur et café.jpg");
    background-size: cover;
    margin-bottom: 0%;
    min-height: 100%;
    font-size: 30px;
    font-family: 'Vollkorn', serif;
  }

  a {
    outline: none;
    text-decoration: none;
    color: #000;
  }

  a:hover {
    color: #666 !important;
   }


/* MEDIA QUERRY */


/*  BAR DE NAVIGATION   */
  
  .topwrap {
    position:relative;
    height:225px;
    padding-bottom: 60px;
  }


  .topnav{
  height: 100px;
  width: 100%;
  }

  /* TEXTE NAVBAR   */

    .navelement {
      display:inline-block;
      vertical-align:middle;
      text-align:left;
      padding-left: 8%;
      font-style: normal;
      font-weight: bold;
      font-size: 100%;
      line-height: 100%;

      color: #FFFFFF;

      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }


    .logo {

      height: auto;
      width: 4%;
    }

      /* SOUS MENU CACHE */

        .subnavbtn {
          height: 80px;
          display:inline-block;
          padding-left: 8%;
        }


        .subnav-content {
          display: none;
          background: rgba(26, 26, 26, 0.79);
          width: 90%;
          padding:0 5%;  
        }

        .subnav-content a {
          float: left;
          color: white;
          text-decoration: none;
          padding-top: 40px;
          padding-bottom: 40px;
          text-align: center;
          padding-left: 8%;
          padding-right: 8%;
        }

        /* When you move the mouse over the subnav container, open the subnav content */
        .subnavbtn:hover ~.subnav-content {
          display: flex;
          cursor: pointer;
        }

        .subnav-content:hover {
          display: flex;
          cursor: pointer;
        }


.wrapcontent {
  width:70%;
  padding-left: 15%;
  position:relative;
}

/* TEXTE INFORMATIF
MILIEU DE PAGE */
        
  .infocontainer {
    display:block;
    background: rgba(240, 240, 240, 0.95);
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .infocontainer .texte{
    font-family: vollkorn;
    
    display: inline-block;
  }

  .infocontainer .h1 {
    padding-left: 0%;
    font-weight: 500;
    font-size: 80%;
    padding-top: 3%;
  }

  .infocontainer .nomarge {
    padding-right: 0%;
    font-weight: 600;
    font-size: 80%;
    padding-top: 3%;
    padding-left: 4%;
  }

  .infocontainer2 {
    padding: 2% 4% 4% 4%;
  }

  .contenu{
    float: left;
    width: 45%;
    font-size: 66%;
  }

  .infocontainer .courbe  {
    float: right;
    height: 80%;
    width: auto;
    padding: 3% 8% 3% 3%;
  }

/*  FOOTER BAS DE PAGE */
        
  .footer {
    padding: 50px;
    font-family: PT Serif;
    font-style: normal;
    font-size: 70%;
    line-height: 70%;
    width: 100%;
    display: inline block;
    margin: 0px;
    text-align: center;
  }







