.objetcontainer{
	display:block;
	width: 80%;
	padding-left:10%;
	height: auto;
	padding-top: 50px;
}


.objet {
	opacity: 0.9;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.75);
	background: #FFFFFF;
	width: 29%;
	height: auto;
	border-radius: 10px;
	margin: 2.1%;
	float: left;
	display: block;

}

.containerphoto {
	padding:25%;
	width: 150px;
	height: 150px;
}


.photo{
	transition: padding 0.5s, width 0.5s;
	height: auto;
	width: 100%;
}

.texteobjet {
	font-family: PT Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 85%;
	line-height: 90%;
	color: #000000;
	text-align: center;
	display:block;
}

.objet a {
	padding: 20px;
}

@media (min-width: 0px) and (max-width: 800px) {
	.objet a {
		padding: 10px;
	}
}

@media (min-width: 800px) and (max-width: 1600px) {
	.objet a {
		padding: 15px;
	}
}
