{% extends "categories.html" %}
{% block infotop %}
	
	

	<div class="infocontainer">
		<h2 class="texte nomarge">AcheteurMalin : </h2>
		<H1 class="texte h1">Information, conseil et comparatif achat.</H1>
		<H2 class="texte">Retrouvez les objets les plus vendus du moment dans chaque catégorie. Comparez les au courbes des prix
enregistré pour savoir combien vous devriez dépenser et ainsi éffectué un achat malin. En effet les statistiques de 
masse permette de se faire une idée réaliste et pertinente de l’investissement à éffectuer.</H2>
	</div>


{% endblock infotop %}