<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags notamment pour les portables-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='objet.css') }}">
  	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mediaQ.css') }}">
  
     <link href="https://fonts.googleapis.com/css?family=Open+Sans|Vollkorn&display=swap" rel="stylesheet">

     <link rel="shortcut icon" href="static/image/favicon.ico">

	{% if title %}
	 	<title>AcheteurMalin - {{ title }}</title>
	{% else %}
		<title>AcheteurMalin</title>
	{% endif %}

	{% if description %}
	<meta name="description" content="{{ description }}">
	{% else %}
	<meta name="description" content="Comparez les informations sur les ventes de produit. Suivez nos conseil pour éffectuer des achats malins. Information, conseil et comparatif achat.">
	{% endif %}

</head>
<body>	

			<div class=background></div>

			<header class= "topwrap">
				
				<div class="topnav">
					<img class= "logo navelement" src="static/image/flamme.png" alt="logo en forme de flamme">				
					<a class= "navelement"  href="{{ url_for('categories.accueil') }}">AcheteurMalin</a>
					<a class="navelement" href="{{ url_for('categories.accueil') }}">Accueil</a>
					    
					<div class="subnavbtn">
						<p class="navelement" href="{{ url_for('categories.accueil') }}">Catégories</p>
					</div>

					<a class="navelement" href="{{ url_for('main.enregistrer') }}">Enregistrer</a>
						
					<div class="subnav-content">
						<a href="{{ url_for('categories.hightech') }}">Hightech</a>
						<a href="{{ url_for('categories.musique') }}">Musique</a>
						<a href="{{ url_for('categories.electromenager') }}">Electroménager</a>
						<a href="{{ url_for('categories.telephone') }}">Téléphone</a>
					</div>
				</div>
				
			</header>

			<main role="main" class="wrapcontent">
				{% with messages = get_flashed_messages(with_categories=true) %}
			    	{% if messages %}
			    		{% for category, message in messages %}
			    		<div class="alert alert-{{ category }}">
			    			{{ message }}
			    		</div>
			    		{% endfor %}
			    	{% endif %}
			    {% endwith %}
				{% block content %}{% endblock %}
			</main>
			
		<!--<footer class="footer">
			<p>c 2019 Suivi des Tendances - </p>
			<a href="{{ url_for('main.mentionslegales') }}"> mentions légales</a>
		</footer>-->
	
</body>
</html>
