{% extends "categories.html" %}
{% block infotop %}
	
	

	<div class="infocontainertest">
		<h2 class="texte nomarge">AcheteurMalin : Qu'est ce que c'est ?</h2>
		<H1 class="texte h1">Information, conseil et comparatif achat.</H1>
		<div class = infocontainer2>
			<H2 class="texte contenu">Retrouvez les objets les plus vendus du moment dans 			chaque catégorie. Comparez les au courbes des prix
				enregistré pour savoir combien vous devriez dépenser et ainsi éffectué un achat malin. En effet les statistiques de 
				masse permette de se faire une idée réaliste et pertinente de l’investissement à éffectuer.
			</H2>
		</div>
		
		<img class= "courbe contenu" src="static/image/téléchargement.png" alt="courbe statistiques des prix">	
	</div>


{% endblock infotop %}